@font-face {
    font-family: "Roboto";
    src: url('../../fonts/roboto.ttf');
}
@font-face {
    font-family: "Nerd";
    src: url('../../fonts/firacode.ttf') format('truetype');
}
:root {
    --bg: #2C2D32;
    --header_bg: #393A3F;
    --container_bg: #323339;
    --whitesmoke: #F5F5F5;

    --cm_active: #4E4F57;
    --cm_inactive: #43444C;
    --cm_border: #43444A;
    --cm_bg: #28292E;
    --btn_danger: #D22D39;
    --btn_danger_border: #BA3941;

    --btn_danger_hover: #BB2631;
    --btn_danger_hover_border: #A33137;

    --btn_danger_active: #A51F2A;
    --btn_danger_active_border: #8F252C;

    --btn_danger_disabled: #8F4046;
    --btn_danger_disabled_border: #73363A;


    --btn_primary: #5865F2;
    --btn_primary_border: #5561C5;

    --btn_primary_hover: #4F5ADC;
    --btn_primary_hover_border: #4A54B8;

    --btn_primary_active: #474FC2;
    --btn_primary_active_border: #4249A9;

    --btn_primary_disabled: #3C4286;
    --btn_primary_disabled_border: #343A70;


    --btn_secondary: #4F545C;
    --btn_secondary_border: #3A3E44;

    --btn_secondary_hover: #44484F;
    --btn_secondary_hover_border: #2F3338;

    --btn_secondary_active: #393C42;
    --btn_secondary_active_border: #23262A;

    --btn_secondary_disabled: #2F3136;
    --btn_secondary_disabled_border: #1F2124;


    --btn_success: #287E29;
    --btn_success_border: #148F49;

    --btn_success_hover: #226D23;
    --btn_success_hover_border: #11783F;

    --btn_success_active: #1D5F1E;
    --btn_success_active_border: #0F6B37;

    --btn_success_disabled: #255526;
    --btn_success_disabled_border: #18482C;


    --btn_link: #36393E;
    --btn_link_border: #424549;

    --btn_link_hover: #2E3135;
    --btn_link_hover_border: #3B3E41;

    --btn_link_active: #272A2D;
    --btn_link_active_border: #34363A;

    --btn_link_disabled: #2F3237;
    --btn_link_disabled_border: #232528;

}