@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto.ttf');
}
@font-face {
    font-family: "Nerd";
    src: url('../fonts/firacode.ttf') format('truetype');
}
:root {
    --whitesmoke: #F5F5F5;

    --cm_active: #4E4F57;
    --cm_inactive: #43444C;

    --btn_danger: #D22D39;
    --btn_danger_border: #BA3941;

    --btn_primary: #5865F2;
    --btn_primary_border: #5561C5;

    --btn_success: #287E29;
    --btn_success_border: #148F49;
    
    --btn_link: #36393E;
    --btn_link_border: #424549;
}

body {
    color:whitesmoke;
    font-family: 'Roboto';
    background-color: #2C2D32;
    border-radius: 15px;
    margin: 0;
    /* border #393A3F */
}
header {
    -webkit-app-region: drag;

    user-select: none;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
    display: flex;
    background-color: #393A3F;
}
#maintext {
    font-size: 20px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;

}
#logo {
    width: 32px;
    padding: 8px;
}
#header_btns {
    -webkit-app-region: no-drag;

    right: 0;
    position: absolute;
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 32px;
    height: 100%;
}

.header_btn_ico {
    position: relative;
    width: 20px;
    height: 20px;
}

.header_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 42px;
    transition: .3s;
}
#minimize:hover {
    background-color: rgba(240, 248, 255, 0.453);
}
#close:hover {
    background-color: red;
}

#content {
    position: relative;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.all_row {
    grid-column: 1 / -1;
}

.btn {
    border-radius: 10px,
}

.btn_primary {
    background-color: var(--btn_primary);
    border: 1px solid var(--btn_primary_border);
}

.btn_danger {
    background-color: var(--btn_danger);
    border: 1px solid var(--btn_danger_border);
}

.btn_success {
    background-color: var(--btn_success);
    border: 1px solid var(--btn_success_border);
}

.btn_link {
    background-color: var(--btn_link);
    border: 1px solid var(--btn_link_border);
}